<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         colors="true"
         verbose="true">

    <coverage>
        <include>
            <directory suffix=".php">./app</directory>
            <file>./fluent-security.php</file>
        </include>
        <exclude>
            <directory>./app/Services/Libs/Emogrifier</directory>
            <directory>./vendor_prefixed</directory>
            <file>./app/Views/index.php</file>
            <file>./app/Views/notification.php</file>
            <file>./app/Views/email_template.php</file>
            <file>./app/Views/magic_login/index.php</file>
            <file>./app/Views/magic_login/line_block.php</file>
            <file>./app/Views/magic_login/call_to_action.php</file>
            <file>./app/Views/magic_login/footer.php</file>
            <file>./app/Views/magic_login/header.php</file>
        </exclude>
    </coverage>

    <testsuites>
        <testsuite name="Unit">
            <directory>./tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>./tests/Integration</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="WP_TESTS_DOMAIN" value="example.org"/>
        <env name="WP_TESTS_EMAIL" value="admin@example.org"/>
        <env name="WP_TESTS_TITLE" value="Test Blog"/>
    </php>
</phpunit>
